<?xml version="1.0" encoding="utf-8" ?>
<nlog
  internalLogFile="c:\temp\nlogproblems.txt"
  throwExceptions="true"
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" 
            xsi:type="File" 
            layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}|${logger}|${message}" 
            fileName="${basedir}/Milamation-${shortdate}.log" 
            archiveEvery="Day" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>